<style>
    #barra li{
    display:inline;
    text-align: initial;
    font-size: medium;
}
button{
    background-color: aqua;
}
</style>

{% if request.user.is_active %}

{% include "bookflix/barra.html" %}

<h1>Usted ya está logueado</h1>

<ul id="barra">
    <li>Quiere entrar con otra cuenta? toca el link de LogOut en la barra de ariba</li>
</ul>

<hr />
{% else %}

{% include "bookflix/barra.html" %}

<h2>Iniciar sesión</h2>

<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Login</button>
</form>
<a href="/register_page">Registrarse</a>
<hr>

<ul id="publicaciones">
    <p>publicaciones: </p>
    {% if publicaciones %}
    {% for publicacion in publicaciones %}
    <li> <a href="/publicacion/{{publicacion.title}}">{{publicacion.title}}</a> </li> 
    {% endfor %}
    {% else %}
    <p>No hay publicaciones disponibles</p>
    {% endif %}

</ul>

<ul id="libros">
    <p>Libros: </p>
    {% if libros %}
    {% for libro in libros %}
       <li>
            <div>
                <a href="/libro/{{libro.author}}">{{libro.title}}</a>
                <p>Autor: {{libro.author}}</p> 
                <img src="" alt="Portada">
                <!---->>
                <img  src="{{libro.image.url}}"  alt="fondo" >
                <p>La url de la imagen es: {{libro.image}} </p>
            </div>
        </li>
    {% endfor %}
    {% else %}
    <p>No hay libros dados de alta disponibles</p>
    {% endif %}

</ul>
{% endif %}
