<style>
    #barra li{
    display:inline;
    text-align: initial;
    font-size: medium;
}
button{
    background-color: aqua;
}
</style>

{% if request.user.is_active %}

{% include "bookflix/barra.html" %}

<h1>Usted ya está logueado</h1>

<ul id="barra">
    <li>Quiere entrar con otra cuenta? toca el link de LogOut en la barra de ariba</li>
</ul>

<hr />
{% else %}

{% include "bookflix/barra.html" %}

<h2>Iniciar sesión</h2>

<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Login</button>
</form>
<a href="/register_page">Registrarse</a>
<hr>
{% endif %}
