<html>


    <body>
        
        {% include "bookflix/barra.html" %}

        <h1>
            {{perfil.nombre}}
        </h1>
        <ul>
            <li style="text-emphasis-color: black;">Email: {{perfil.email}}</li>
            <li style="text-emphasis-color: black;">Plan: {{perfil.plan}}</li>
            <li style="text-emphasis-color: black;">Tiempo Pagado: {{perfil.time_pay}}</li>
            <li style="text-emphasis-color: black;">Fecha de inicio de adesion al plan: {{perfil.date_start_plan}}</li>
            <li style="text-emphasis-color: black; text-transform: capitalize;">Sos un gato?: Sí, comprame el premium gil</li>
        </ul>
        



    </body>



</html>
