<html>


    <body>
        
        {% include "bookflix/barra.html" %}

        <h1>
          Perfil de:   {{request.user.username}}
        </h1>
        <ul>
            <li style="text-emphasis-color: black;">Email: {{request.user.email}}  
                <a href="/cambiar_email">Cambiar Dirección de mail</a>
            </li>
            <li style="text-emphasis-color: black;">Plan: {{request.user.plan}}</li>
            <li style="text-emphasis-color: black;">Tiempo Pagado: {{request.user.time_pay}}  dias</li>
            <li style="text-emphasis-color: black;">Fecha de inicio de adesion al plan: {{request.user.date_start_plan}}</li>
            <li style="text-emphasis-color: black; text-transform: capitalize;">Su número de tarjeta es: {{tarjetaActual.number}} </li>
       
        </ul>
        <p>
        <a href="/cambiar_tarjeta">Cambiar Tarjeta Bancaria</a>
    </p>
        <a href="/cambiar_contrasenia">Cambiar Contraseña</a>  



    </body>



</html>
