<h2>Registrar usuario</h2>

<form method="POST"> {% csrf_token %}

    {% for field in user_creation_form %}
        <p>
            {{field.label_tag}}
            {{field}}

            {%for error in field.errors%}
                <p style="color: red;">{{error}} </p>
            {% endfor %}
        </p>
    {% endfor %}
    {% for field in creacion_tarjeta %}
    <p>
        {{field.label_tag}}
        {{field}}

        {%for error in field.errors%}
            <p style="color: red;">{{error}} </p>
        {% endfor %}
    </p>
    {% endfor %}    
    <p> Seleccione nombre de su perfil</p>
    {% for field in profile_creation_form %}
        {{field.label_tag}}
        {{field}}
    {% endfor %}
    <p></p>
    <button type="submit">Registrar</button>
</form>



